

.navTab {
    color: #fff;
    height: 52px;
    font-weight: bold;
    line-height: 52px;
    font-size: 20px;
    border-radius: 25px;
    text-align: center;
    width: 225px;
    margin: 10px
}

body {
    position: relative;
}

.main-feed {
    display: inline-block;
    height: 100%;
    width: 55%;
    top: 0px;
    position: absolute;
    left: 15%;
    border-right: #16181C solid 2px;
    border-left: #16181C solid 2px;
}

.main-feed h1 {
    margin: 36px;
    color: #fff;
    font-size: 20px;
    font-weight: bold;


}

.search-feed {
    position: absolute;
    right: 0;
    color: white;
    height: 100%;
    width: 20%;
    padding: 4px;
    top: 0px;
}

/* .search-feed .search-bar {
    background-color: #16181C;
    border-radius: 25px;
    width: 80%;
    border: 1px solid blue;
} */

/* .search-feed input {
    width: 80%;
    background-color: rgba(22,24,28,0);
    border: none;
    height: 42px;
    color: rgba(255, 255, 255, 0.43);
    text-align: left;
    margin-left: 20px;
    font-size: 15px;
} */

.search-feed input:focus {
    border: none;
    outline: none;
}

.navTab:hover {
    background-color: rgba(255, 255, 255, 0.209);
}

.sidebar{
    height: 100%;
    position: absolute;
    width: 15%;
    top: 0px;
}

.sidebar .sidebar-footer {
    position: absolute;
    bottom: 0px;
    display: inline-grid;
    color: #fff;
}

.profile-badge {
    width: 100%;
    height: 65px;
    display: grid;
    grid-template-columns: 1fr 3fr 0.5fr;
    margin: 0 auto;
    grid-gap: 15px;
}

.profile-badge img {
    background-color: black;
    width: 40px;
    height: 40px;
    margin: auto auto;
    border-radius: 50%;
}

.profile-badge h1 {
    font-size: 15px;
    color: white;
    margin: 0px;
}

.profile-badge h2 {
    display: inline;
    font-size: 15px;
    font-weight: normal;
    color: rgba(255, 255, 255, 0.479); 
    margin: 0px; 
}

.profile-badge div {
    margin: auto 0;
    color: white;
}

.post {
    color: #fff;
    font-size: 15px;
    border-top: #16181C solid 2px;
    border-bottom: #16181C solid 2px;
    padding: 12px;
}

.post h1 {
    font-size: 15px;
    margin: 0px;
    display: inline;
}

.post h2 {
    font-size: 15px;
    margin: 0px;
    margin-left: 12px;
    font-weight: normal;
    color: rgba(255, 255, 255, 0.552);
    display: inline;
}

.post div {
    font-size: 15px;
    display: inline;
}

.whats-happening-feed {
    background-color: #16181C;
    border-radius: 10px;
    padding: 16px 0 0 0;
    margin-top: 16px;
    width: 80%;
    /* padding: 16px; */
}

.whats-happening-feed h1 {
    margin: 16px;
    margin-top: 0;
    font-size: 20px;
    font-weight: bolder;
}

.whats-happening-feed h2 {
    font-size: 16px;
    margin: 0;
}

.whats-happening-feed h3 {
    font-size: 12px;
    color: rgba(255, 255, 255, 0.4);
    margin: 0;
    margin-bottom: 4px;
}

.story {
    /* margin-top: 24px;
    margin-bottom: 24px; */
    padding: 12px 0;
    padding-left: 16px;
}

.story:hover {
    background-color: rgba(255,255,255, 0.05);
    /* background-color: rgb(37, 42, 47); */
    cursor: pointer;
}

.whats-happening-feed a {
    color: #1DA1F2;
    font-weight: 600;
    font-size: 14px;
    /* margin-left: 16px; */
}

.whats-happening-feed a:link, .whats-happening-feed a:visited, .whats-happening-feed a:hover, .whats-happening-feed a:active {
    text-decoration: none;
}